{% load compress %}
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>

</head>

<body>
    <script>
        var articles_json = {{ articles|safe }}
    </script>
    {% verbatim %}
        <div id="app"></div>
    {% endverbatim %}
    {% compress js %}
        <script type="module" src="{% static 'some.js' %}"></script> 
    {% endcompress %}
    
</body>
</html>